<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Decide Genius - Editar Perfil</title>
        <link rel="stylesheet" href="styles.css">
      </head>
      
      <body>
        <nav>
          <div class="container">
            <a href="/profile">
              <div class="profile-image">
                <img id="userImage" src="" alt="Imagem do Usuário" />
              </div>
            </a>
            <ul class="nav-links">
              <% if (isAdmin === 1) { %>
                <li><a href="/dashboardAdmin">DashboardAdmin</a></li>
              <% } %>
              <li><a href="/filmes">Filmes</a></li>
              <li><a href="/series">Series</a></li>
              <li><a href="/fmHelper">Ligas</a></li>
              <li><a href="/verSeries">VerSeries</a></li>
              <li><a href="/about">Sobre</a></li>
            </ul>
          </div>
        </nav>

        <header>
          <h1 class="logo">Decide Genius</h1>
        </header>

</head>
<body>
  <div class="containerEdit">
    <h1>Editar Perfil</h1>
    <form id="profileForm" enctype="multipart/form-data">
        <div class="profile-info">
          <p id="username">Nome do User</p>
          
          <label for="name">Editar Nome de User:</label>
          <input type="text" id="name" name="name" placeholder="Novo Nome de Usuário"><br><br>
      
          <label for="avatar">Selecione sua imagem de perfil:</label><br>
          <input type="file" id="avatar" name="avatar" accept="image/*" required><br><br>

      
          <img id="avatarPreview" src="#" alt="Preview da Imagem" style="display: none;">
          
          <input type="submit" value="Guardar">
        </div>
      </form>
      
        
  </div>

  <script src="scriptsEditProfile.js"></script>

</body>
</html>
