<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Decide Genius - Página Inicial</title>
  <link rel="stylesheet" href="styleHome.css">
</head>
<body>

  <header>
    <div class="container">
      <h1>Decide Genius</h1>
      <p>Seja bem-vindo à plataforma Decide Genius.</p>
      <a href="/login" class="button">Entrar</a>
    </div>
  </header>

  <main class="container">
    <h2>Sobre a Decide Genius</h2>
    <p>Se está com dúvidas sobre qual filme assistir, selecione um gênero de interesse e apresentaremos um filme aleatório desse gênero.</p>
    <p>Da mesma forma, se precisar de ajuda para escolher uma equipe para criar um save no FM24, basta escolher a liga e divisão desejadas, e te ajudaremos a encontrar uma equipe adequada!</p>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2024 Decide Genius. Todos os direitos reservados.</p>
    </div>
  </footer>

</body>
</html>
