<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Decide Genius - Perfil do Usuário</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    /* Adicione os estilos CSS abaixo para a aparência do perfil */

    h1.logo {
      margin: 0;
      font-size: 36px;
    }

    .containerProfile {
      width: 80%;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
    }

    .profile-info {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      background-color: #f9f9f9;
      margin-top: 20px;
    }

    .profile-info label {
      font-weight: bold;
    }

    .profile-info p {
      margin: 8px 0;
    }

    .profile-info button {
      padding: 8px 16px;
      background-color: #222;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .profile-info button:hover {
      background-color: #2c2c2c;
    }

    .profile-image {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .profile-image img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
    }
  </style>
</head>

<body>
  <nav>
    <div class="container">
      <a href="/profile">
        <div class="profile-image">
          <img id="userImage" src="" alt="Imagem do Usuário" />
        </div>
      </a>
      <ul class="nav-links">
        <% if (isAdmin === 1) { %>
          <li><a href="/dashboardAdmin">DashboardAdmin</a></li>
        <% } %>
        <li><a href="/filmes">Filmes</a></li>
        <li><a href="/series">Series</a></li>
        <li><a href="/fmHelper">Ligas</a></li>
        <li><a href="/about">Sobre</a></li>
      </ul>
    </div>
  </nav>

  <header>
    <h1 class="logo">Decide Genius</h1>
  </header>

<div class="containerProfile">
  <h1>Perfil do User</h1>
  <div class="profile-info">
    <div class="profile-image">
      <!-- HTML para exibir a imagem -->
      <img id="userImage" src="" alt="Imagem do Usuário" />

    </div>
    <label for="username">Nome do User:</label>
    <p id="username">Nome do User</p>

    <label for="email">Email:</label>
    <p id="email">exemplo@email.com</p>

    <button id="editProfileBtn">Editar Perfil</button>
  </div>
</div>

<script src="scriptsProfile.js"></script>
</body>

</html>
