<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Decide Genius - Ver Series</title>
  <!-- Adicione seu arquivo de estilos -->
  <link rel="stylesheet" href="/styleFM.css">
  <link rel="stylesheet" href="/styleAssistirSeries.css">
</head>
<body>
  <nav>
    <div class="container">
      <a href="/profile">
        <div class="profile-image">
          <img id="userImage" src="" alt="Imagem do Usuário" />
        </div>
      </a>
      <ul class="nav-links">
        <% if (isAdmin === 1) { %>
          <li><a href="/dashboardAdmin">DashboardAdmin</a></li>
        <% } %>
        <li><a href="/filmes">Filmes</a></li>
        <li><a href="/series">Series</a></li>
        <li><a href="/fmHelper">Ligas</a></li>
        <li><a href="/verSeries">VerSeries</a></li>
        <li><a href="/about">Sobre</a></li>
      </ul>
    </div>
  </nav>

  <header>
    <h1 class="logo">Decide Genius</h1>
    <h2>Explore informações sobre ligas esportivas e equipes!</h2>
  </header>

  <div id="uploadArea">
    <h3>Arraste e solte uma pasta com episódios aqui</h3>
    <input type="file" id="fileInput" webkitdirectory multiple >
    <p>Clique ou arraste a pasta para começar.</p>
  </div>

  <ul id="episodeList"></ul>

  <div id="videoPlayer">
    <video id="video" width="640" height="360" controls>
      Seu navegador não suporta a tag de vídeo.
    </video>
  </div>

  <button id="nextButton">Próximo Episódio</button>

  <script src="scriptsSeeFilms.js"></script>
</body>
</html>
